server:
  port: 8084
spring:
  application:
    name: billing-service
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    consumer:
      group-id: billing-service
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false
management:
  endpoints:
    web:
      exposure:
        include: "*"

topics:
  flight-reserved: flight.reserved
  hotel-reserved: hotel.reserved
  billing-charged: billing.charged
  saga-completed: saga.completed
